/* #808080;
    #2270E2;
    #12b576cd;
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #F8F8FF;
}
body{
    background: linear-gradient(to bottom, #272727, #808080); /* Grau zu helleres Grau Verlauf */
    background-color: #808080;
    background-size: 100% 100vh; /* Die Größe des Hintergrunds auf 100% der Breite und 100vh der Höhe setzen */
    background-repeat: no-repeat; /* Verhindert das Wiederholen des Hintergrunds */
}
#title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#store{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box{
    margin: 10px;
    background-color: #2727274a;
    border-radius: 10%;
    width: 220px;
    height: 200px;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px;
    transition: all 0.3s ;
}
.box ul{
    /* flex-grow: 1;   */ /* Auskommentieren wenn zwischen <li> und dem Preis alles "lehr" Platz einnehmen soll lmao*/
}
.box:hover{
    background-color: #272727db;
}
.box.small{
    width: 310px;
    height: 290px;
}
.box.mid{
    width: 440px;
    height: 320px;
}

.minecraft-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.minecraft-box{
    width: 900px;
    height: 250px;
    border-radius: 40px;
    background-image:url(../../store/mc.webp);
    background-position: 50% 50%;
    box-shadow: 3px 5px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
    cursor: pointer;
}
.minecraft-box:hover{
    filter: blur(2px);
}
.minecraft-box p{
    display: flex;
    flex-direction: column;
    margin-top: 210px;
    color: #ffffff;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
}
.mc-general-ct{
    display: flex;
    flex-direction: row;
}
.bundles-ct{
    display: flex;
    flex-direction: row;
}
ul {
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    margin: 10px 0px 10px;
}

.item {
    color: #cfcaca; 
    transition: all 0.3s;
}
.item::marker {
    color: #8f8f8f; /* Farbe der Aufzählungspunkte */
}
.item:hover{
    color: #39a962;
}
h1{
    font-size: 30px;
    cursor: pointer;
}
.STORE{
    font-size: 40px;
    color: #2270E2;
    cursor: pointer;
}
h2{
    font-size: 20px;
    font-weight: 500;
}
.preisanzeige{
    display: flex;
    justify-content: center;
    align-items: center;
}
.preisanzeige p{
    padding: 3px;
}
.preis{
    display: flex;
    font-size: 20px;
    color: #44C975;
}
#bundle-box{
    margin: 0px 10px 0px 10px;
}
#normal-box{
    margin: 20px 140px 0px 140px;
}
#bundle-box ul{
    flex-grow: 1;
}
.redirect-btn{
    padding: 10px;
    background-color: #2270E2;
    border-radius: 12px;
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
}
.redirect-btn:hover{
    background-color: #1e62c7;;
}