/* styles.css */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000;
}

#gameCanvas {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #111;
    overflow: hidden;
}

.player {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #0f0;
    border-radius: 50%;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.player::before,
.player::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: #000;
    border-radius: 50%;
}

.player::before {
    top: 8px;
    left: 8px;
}

.player::after {
    top: 8px;
    left: 17px;
}

.weapon {
    position: absolute;
    width: 15px;
    height: 5px;
    background: #f00; /* Rot für die Waffe */
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
}

.bullet {
    position: absolute;
    width: 10px; /* Breite der Kugel */
    height: 2px; /* Höhe der Kugel */
    background: #fff; /* Weißer Schuss */
}

.enemy {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #f00;
    border-radius: 50%;
}

#livesDisplay {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    font-size: 24px;
}

#weaponDisplay {
    position: absolute;
    top: 50px;
    left: 10px;
    color: #fff;
    font-size: 20px;
}
