body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #272727, #808080); /* Grau zu helleres Grau Verlauf */
    background-color: #808080;
    background-size: 100% 100vh; /* Die Größe des Hintergrunds auf 100% der Breite und 100vh der Höhe setzen */
    background-repeat: no-repeat; /* Verhindert das Wiederholen des Hintergrunds */
    margin: 0;
    padding: 0;
    color: #fff; /* Textfarbe auf Weiß setzen für bessere Lesbarkeit */
}


h1 {
    text-align: center;
    margin: 20px 0;
}

h1 a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

h1 a:hover {
    text-decoration: underline;
}

.container {
    padding: 20px;
}

h2 {
    text-align: center;
    margin: 10px 0;
    color: #fff; /* Textfarbe auf Weiß setzen */
}
